body {
	font-family: 'Poppins';
	-webkit-font-smoothing: antialiased;

	.v-application {
		font-family: 'Poppins';

		&.theme--light {
			@apply bg-black-heavy;
		}

		.tip-details--content-container {
			table {
				tbody {
					tr {
						display: grid !important;

						@media screen and (min-width:600px) {
							display: table-row !important;
						}
					}
				}
			}
		}
	}

	.see-more--btn-container {
		@apply w-full;
		@apply flex items-center justify-center;
		@apply pb-10;
	}

	.font-light {
		font-weight: 100;
	}
}

